$color-topbar: #FF3179;
$color-logo: #FDD602;
$color-border: #ADAEBA;
$color-white: #fff;
$color-line: #E1E3E9;
$border-radius: 8px;
$box-shadow: 4px 4px 4px 0px #00000033;
$box-shadow-play-music: rgba(0, 0, 0, 0.16) 0px 1px 4px;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #343b51;
$gray-800: #2a3042;
$gray-900: #36394C;


$font-size: 16px;
$font-size-tablet-title: 32px;
$font-size-tablet: 24px;